.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/*
.x.axis path {
    display: none;
}
*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.area {
    fill: powderblue;
}

/*svg {*/
    /*width: 500;*/
    /*overflow: visible;*/
/*}*/

/*g {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: visible;*/
/*}*/