.gadgetName {
    font-weight: bold;
    font-size: 2em;
    margin: 16px 0;
}

.gadgetStatus {
    font-style: italic;
}

.sectionHeader {
    font-weight: bold;
    font-size: 1.2em;
    margin: 8px 0 0 0;
}

.gadgetProgress {
    width: 400px;
    height: 250px;
}

svg {
    width: 400px;
    height: 250px;
    /*overflow: visible;*/
}