div {
	line-height: normal;
}

.imageRow {
	height:70px;
	margin: 0px;
	padding:0px;
}

.filmstripItem {
	display: block;
	float: left;
	height: 50px;
	width: 70px;
	border: 0px;
	padding: 4px;
	margin: 0px;
	opacity: 0.7;
	background-color: #fff;
	filter: alpha(opacity=70);
}

.filmstripItem:hover {
	opacity: 1.0;
	background-color:#bef;
	filter: alpha(opacity=100);
}

.gadgetsFilmstrip {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 350px;
	height: 75px; /* give it enough space for the images and the scrollbar, if present */
	/*change to a vertical layout*/
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
	/*width: 90px;*/
	/*height: 233px;*/
}

.mainSlideWindow {
	width: 350px;
	height: 233px;
	margin-top: 4px;
}

.mainTable td {
	vertical-align: top;
}

.sectionHeader {
	font-weight: bold;
	font-size: 1.2em;
	margin: 8px 0 0 0;
}

.gadgetName {
	font-weight: bold;
	font-size: 2em;
	margin: 16px 0;
}

.gadgetStatus {
	font-style: italic;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
}

.gadgetDescription {
	padding-top: 8px;
}

.gadgetUsesCompare>svg {
	height: 400px;
	/*padding: 8px;*/
	/*overflow: visible;*/
}

.gadgetProgress, .gadgetUses {
	width: 350px;
	height: 250px;
}

.gadgetCurrentProgress {
	width: 40px;
	height: 40px;
	float: left;
}

.gadgetCurrentProgress .innerLabel{
	font-weight: bold;
	/*fill: gray;*/
}

.gadgetCurrentProgress .arcLabel{
	display: none;
}

.gadgetUsesCompare .x.axis.text,
.gadgetUsesCompare .legend {
	font-size: .75em;
}

.arcLabel {
	font-size: .7em;
}

.gadgetUses .innerLabel {
	font-size: 1.2em;
}

/* D3 SVG STYLING */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.grid .tick {
	stroke: lightgrey;
	stroke-width: 1px;
	/*opacity: 0.7;*/
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.area {
	fill: powderblue;
}

.bar {
	fill: steelblue;
}

.arc path {
	stroke: #fff;
}

.arcPath, .barRect, .line, .area {
	transition: all .5s;

	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
}

.arcPath:hover {
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
}

.barRect:hover {
	fill: black !important;
}

.line:hover {
	stroke: black;
	stroke-width: 3px;
}

.area:hover {
	opacity : 0;
}

table {
	border-collapse: collapse;
}
table td {
	border: 2px solid darkgray;
	margin: 0px;
	padding: 24px;
}
table tr:first-child td {
	border-top: 0;
	padding-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
	padding-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
	border-left: 0;
	padding-left: 0;
}
table tr td:last-child,
table tr th:last-child {
	border-right: 0;
	padding-right: 0;
}

/*svg {*/
/*overflow: visible;*/
/*}*/

/*div {*/
/*overflow: visible;*/
/*}*/