<script type="text/javascript" src="generated/utils/CircleMath.js"></script>
<div id="gadgets" class="gadgetslideshow">
	<table class="mainTable">
		<tr>
			<td>
				<div id="gadgetSelector" class="filmstrip gadgetsFilmstrip">
					<div id="images" class="images"></div>
				</div>
				<img id="mainSlide" class="mainSlideWindow"/>
				<div class="sectionHeader">Gadget Comparisons</div>
				<div id="gadgetUsesCompareChart" class="groupedBarChart gadgetUsesCompare">
					<svg id="groupedBarChartSVG"></svg>
				</div>
			</td>
			<td>
				<div id="gadgetName" class="gadgetName"></div>
				<div id="gadgetStatus" class="gadgetStatus"></div>
				<div id="gadgetDescription" class="gadgetDescription"></div>
				<div class="sectionHeader">Development Progress</div>
				<div id="gadgetProgressChart" class="dateAreaChart gadgetProgress">
					<svg id="areaChartSVG"></svg>
				</div>
				<div class="sectionHeader">Usage Results</div>
				<div id="gadgetUsesChart" class="pieChart gadgetUses">
					<svg id="pieChartSVG"></svg>
				</div>
			</td>
		</tr>
	</table>
</div>