<div id="gadgets" class="gadgetslideshow">
<table class="mainTable">
    <tr>
        <td>
            <img id="mainSlide" class="mainSlideWindow"/>
            <div id="gadgetSelector" class="behavior-filmstrip gadgetsFilmstrip">
                <ul id="imageRow" class="imageRow"></ul>
            </div>
            <div id="gadgetProgressChart" class="behavior-dateareachart gadgetProgress"></div>
            <div id="gadgetUsesChart" class="behavior-piechart gadgetUses"></div>
        </td>
        <td id="activeGadgetArea">
            <div id="gadgetName" class="gadgetName"></div>
            <div id="gadgetStatus" class="gadgetStatus"></div>
            <div id="gadgetDescription" class="gadgetDescription"></div>
        </td>
    </tr>
</table>
</div>